<section class="home-wrapper">
    <article class="home-wrapper__image-background" [style.background]="'url(assets/img/crowd.jpg)'">
    </article>
    <article class="home-wrapper__title">
        <h1 class="home-wrapper__title--main">Welcome to The Usa Population</h1>
        <h2 class="home-wrapper__title--secondary">Data App</h2>
        <a [routerLink]="[ '/population' ]">
            <button class="home-wrapper__title__button" mat-raised-button color="accent">
                Go to the population page
            </button>
        </a>
    </article>
</section>